@media (max-width: 1280px) {
  body {
    background-color: pink;
  }
}
@media (max-width: 600px) {
  body {
    background-color: olive;
  }
}
h1 {
  border-bottom: 1px solid black;
  padding: 10px;
}
span {
  padding: 5px;
}
