/*색깔 저장*/
:root {
  --body-bg: crimson;
  --hamburger-bg: crimson;
}

html,
body {
  height: 100%;
}
body {
  background: var(--body-bg);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.hamburger-title {
  color: white;
  font-size: 18px;
  padding-bottom: 10px;
}

/*햄버거 전체 크기 지정*/
.hamburger-container {
  display: inline-block;
  position: relative;
  width: 100px;
  height: 100px;
  background: var(--hamburger-bg);
}

/*햄버거와 가상 선택자 크기 지정*/
.hamburger,
.hamburger::before,
.hamburger::after {
  position: absolute;
  width: 100%;
  height: 10px;
  transition: 0.5s;
  background: white;
}

.hamburger::before,
.hamburger::after {
  content: "";
}

/*햄버거와 가상 선택자 위치 지정*/
.hamburger {
  top: 50%;
}
.hamburger::before {
  top: -30px;
}
.hamburger::after {
  top: 30px;
}

/*형태 변형*/
.toggle:checked ~ .hamburger::after {
  top: 0;
  transform: rotate(225deg);
}
.toggle:checked ~ .hamburger::before {
  top: 0;
  transform: rotate(135deg);
}
.toggle:checked ~ .hamburger {
  background: var(--hamburger-bg);
}
.toggle {
  opacity: 0;
}
