@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700&display=swap");
@import url("https://fonts.googleapis.com/icon?family=Material+Icons+Outlined");
@import url("https://fonts.googleapis.com/icon?family=Material+Icons");

@import "./reset.css";
@import "./variable.css";
@import "./nevigation-bar.css";
@import "./media-query.css";

* {
  box-sizing: border-box;
}
body {
  font-family: "Roboto", sans-serif;
  background-color: var(--background-purple);
  color: white;
}
.display-flex-center {
  display: flex;
  justify-content: center;
  align-items: center;
}
.position-relative {
  position: relative;
}
input {
  border: none;
  outline: none;
  appearance: none;
}
