@import "./global.css";

html,
body {
  overflow: hidden;
}
.login-title {
  text-align: center;
}
.login-title__maintext {
  font-size: 2.5rem;
  color: var(--purple);
}
.login-title__subtext {
  font-size: 0.9rem;
  font-weight: 100;
}
.login-form {
  display: flex;
  flex-direction: column;
  margin: 1.5rem;
}
.login-form input {
  padding: 15px 0;
  margin: 0 10px;
  background-color: var(--background-purple);
  font-size: 1em;
}
.login-form input:not([type="submit"]) {
  color: white;
  border-bottom: 1px solid var(--border-color);
  transition: border-color 0.3s ease-in-out;
}
.login-form input:focus {
  border-color: white;
}
.login-form input[type="submit"] {
  color: white;
  background-color: var(--darkpurple);
  border-radius: 20px;
  margin-top: 2rem;
  transition: background-color 0.2s ease-in-out;
}
.login-form input[type="submit"]:active {
  background-color: var(--purple);
}
