.grandparent {
  background-color: aqua;
  width: 200px;
  height: 200px;
}
.parent {
  background-color: blueviolet;
  width: 150px;
  height: 150px;
  position: relative;
  top: -20px;
  opacity: 0.5;
}
.child {
  background-color: chartreuse;
  width: 50px;
  height: 50px;
  position: relative;
  top: -20px;
  opacity: 0.5;
}
