.grandparent {
  background-color: aqua;
  width: 200px;
  height: 200px;
  position: relative;
}
.parent {
  background-color: blueviolet;
  width: 150px;
  height: 150px;
  position: relative;
  top: 20px;
}
.child {
  background-color: chartreuse;
  width: 50px;
  height: 50px;
  position: absolute;
  top: 20px;
}
