/* 예제 8-2 */
h1 {
  font-size: 100px;
}
/* 예제 8-3 */
p {
  color: red;
}
/* 예제 8-4 */
h1 {
  font-size: 100px;
}
/* 예제 8-5 */
h1 {
  font-size: 100px; /*글자 크기를 100px로 지정*/
  text-align: center; /*글자 정렬을 가운데로 지정*/
}
p {
  text-align: center;
}
/* 예제 8-6 */
* {
  color: red;
}
/* 예제 8-7 */
p {
  color: red;
}
