body {
  display: flex;
}
div {
  width: 200px;
  height: 200px;
  background-color: tomato;
  display: flex;
  justify-content: center;
  align-items: center;
}
#second {
  background-color: seagreen;
}
