/* 예제 9-2 */
h1,
span {
  border: 3px solid red;
}

/* 예제 9-3 */
h1,
span {
  border: 3px solid red;
  display: inline;
}

/* 예제 9-4 */
h1,
span {
  border: 3px solid red;
  display: block;
}

/* 예제 9-5 */
h1 {
  border-bottom: 1px solid black;
}

/* 예제 9-6 */
h1 {
  border-bottom: 1px solid black;
  padding: 10px;
}
span {
  padding: 5px;
}

/* 예제 9-7 */
body {
  background-color: pink;
}
h1 {
  border-bottom: 1px solid black;
  padding: 10px;
}
span {
  padding: 5px;
}

/* 예제 9-8 */
@media (max-width: 1280px) {
  body {
    background-color: pink;
  }
}
@media (max-width: 600px) {
  body {
    background-color: olive;
  }
}
h1 {
  border-bottom: 1px solid black;
  padding: 10px;
}
span {
  padding: 5px;
}
