html,
body {
  height: 100%;
}

body {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
div {
  width: 100px;
  height: 100px;
  background-color: tomato;
}
#second {
  background-color: seagreen;
}
